@import '../elements/base.css';
@import '../settings/gaps.css';
@import '../settings/colors.css';
@import '../container/sidemenu.css';

.followers {
    width: 100%;
    margin-left: var(--side-menu-bar-size);
}

.followers-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    font-size: 35px;
}

.follower {
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.follower > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}