@import '../elements/base.css';
@import '../settings/gaps.css';
@import '../settings/colors.css';
@import '../container/sidemenu.css';

.followers {
    width: 100%;
    margin-left: var(--side-menu-bar-size);
}

.followers-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    font-size: 35px;
}

.follower {
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--gap-medium);
}

.follower > img {
    border-radius: 25px;
    width: 150px;
    height: 150px;
}

.follower #username {
    margin-top: var(--gap-small);
    font-size: 15px;
}

.follower #fullname {
    margin-top: var(--gap-medium);
    font-size: 30px;
}

.btn-unfollow {
    background: linear-gradient(to right, var(--color-second) 50%, var(--color-fourth) 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    width: 30%;
    margin-top: var(--gap-small);
    height: 35px;
    transition: 0.2s ease-out all;
    border-color: #fff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btn-unfollow:hover {
    color: #fff;
    border-color: #fff;
    background-position:left bottom;
}

.follower > .follower-information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.following-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-conatiner {
    margin-top: var(--gap-big);
    display: none;
    justify-content: center;
    align-items: center;
}

.buttons-conatiner button {
    margin-left: var(--gap-medium);
    margin-right: var(--gap-medium);
}

.feed-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--gap-big);
    margin-left: auto;
    margin-right: auto;
}

.publish {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: var(--gap-medium);
    margin-left: var(--gap-medium);
    margin-right: var(--gap-medium);
}

.publish > img {
    width: 250px;
    height: 350px;
}

