.side-menu-bar {
    color: #fff;
    background-color: var(--color-first);
    width: var(--side-menu-bar-size);
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.side-menu-bar > h1 {
    font-size: 20px;
    padding-top: var(--gap-medium);
    margin-bottom: var(--gap-medium);
    text-align: center;
}

.profile {
    display: flex;
    padding-left: var(--gap-small);
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    padding: var(--gap-small) var(--gap-small);
}

.profile > img {
    border-radius: 100px;
    width: 80px;
    height: 80px;
}

.profile-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--gap-medium);
}

.container-menu {
    margin-top: var(--gap-big);
    margin-left: var(--gap-small);
}

.menu-list {
    margin-top: var(--gap-medium);
    margin-left: var(--gap-small);
}

.menu-list li{
    margin-top: var(--gap-small);
}

.menu-list a{
    margin-left: var(--gap-smaller);
    text-decoration: none;
    color: #fff;
}

.menu-list a:hover{
   border-bottom: 3px solid var(--color-second); 
   cursor: pointer;
}

.menu-list > li:last-child > a:hover{
    border-bottom: 3px solid var(--color-fourth); 
}